// Your custom
@import "core/colors";
@import "core/variables";
$custom-border-bottom: 1px solid orange;

.navbar-dropdown-active {
  background-color: $navbar-light-bg-active-color;
  border-color: orange !important;
  font-weight: 600 !important;
  &:hover {
    //Note hide the border color on hover so as the link color does not get merged
    border-color: transparent !important;
  }
}
//My custom variables that will be used for airline call and reservation phone number pages
$url-intro:"";
$url-end:"";

$custom-container-bg-color:#181818;
$custom-container-span-color:#6f6f6f;
$about-us-card-border-color:cornflowerblue;
$about-us-link-color:#100595;
$about-us-link-hover-color:#2fa3ff;

$call-btn-background-color:#e51937;
$header-color:white;
