#servicesMain {

  .service-header {
    h2.service-heading {
      @extend h2.home-content-heading;
      padding-top: 1.5rem;
    }
  }

#technologyContainer, #accountingContainer, #engineeringContainer, #scienceContainer, #healthCareContainer, #professionalContainer, #educationContainer {
    //Note If you use .navbar with .smooth-scroll, use this code to avoid overlapping navigation to a header.
    &:before {
      display: block;
      content: " ";
      margin-top: -80px;
      height: 80px;
      visibility: hidden;
    }

    font-size: 16px;

    div i {
      color: lightseagreen;
    }

    p span {
      margin: 0;
      padding: 0;
    }

    p.space-parah {
      margin: .5rem 0;
      //padding-left: .5rem;
    }

    p {
      margin: 0;
    }
  }
}