body {
  font-family: Montserrat, sans-serif;
}

@import "scrollbar";
@import "custom-variables";
$url-intro:"../img/airlinecall/airline-call-intro.jpg";
$url-end:"../img/airlinecall/airline-call-footer.jpg";
@import "basic-web-page";
