// Your custom styles
@import "mdb";
@import "font-sizes";
@import "button-hover";
@import "home";
@import "services";
@import "employment";
@import "publisher";
@import "industry";
@import "blog";
@import "about-us";
@import "career";
@import "health";
@import "contact-us";
@import "privacy";
@import "header";
@import "footer";
@import "scrollbar";


#homeBody, #servicesBody, #industryBody, #careerBody, #aboutUsBody, #contactUsBody, #privacyBody,#healthBody,#publisherBody,#advertiserBody, #employmentBody {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.img-responsive {
  max-width: 100% !important;
  height: auto !important;
  display: block !important;
}

.border-rounded {
  border-radius: .25em !important;
}

.modal {
  @extend .modal;

  .modal-dialog {
    @extend .modal-dialog;
    min-width: 100% !important;
  }

  .modal-dialog {
    &.center {
      min-width: 50% !important;
    }
  }

  @media (min-width: 400px) {
    .modal-full-screen {
      @extend .modal-full-height;
      width: 100% !important;
    }
  }
}

//Note below are for navbar customization and overrides
.social-nav-link {
  @extend .nav-link;

  &:hover {
    border-bottom: transparent !important;
  }
}

.custom-nav-item {
  @extend .nav-item;
  padding: 0 .75rem;
  font-weight: 600 !important;
  font-size: 18px !important;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
}

.custom-nav-margin {
  margin-left: 10%;
  margin-right: 10%;
}

//IMP disable input number arrows on right
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hr-blue {
  @extend .hr-light;
  color: blue;
  background-color: blue;
  border-color: blue;
  margin-bottom: 2rem;
}

.info-text{
  color:$info-color;
}
