@import "mdb";
@import "custom-variables";
$url-intro: "../img/reservation/airline-wings-1920.webp";
$url-end: "../img/reservation/airline-inside-1920.webp";

$custom-container-bg-color: #181818;
$custom-container-span-color: #6f6f6f;
$about-us-card-border-color: #6d6d6d;
$about-us-link-color: #181818;
$about-us-link-hover-color: #9c9999;

$call-btn-background-color: #181818;
$header-color: $orange-darken-2;

@import "basic-web-page";
@import "scrollbar";

body {
  font-family: Calibri, sans-serif !important;
  font-weight: 400;
}

div#end {
  .custom-container {
    h1 {
      background-color: $black;
      background-image: linear-gradient(180deg, $orange-darken-4, $amber-darken-3);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }

    p {
      color: $white;
    }
  }
}

#dealAnimeContainer{
  color: $orange-darken-3;
}

header {
  a.nav-link {
    font-weight: bold;
  }
}

.footer-links {

  font-weight: bolder !important;

  &:hover {
    color: #fd9544 !important;
    text-decoration: underline #db5d1b;
  }

}
