body {
  font-family: Montserrat, sans-serif;
}

@import "scrollbar";
@import "custom-variables";
$url-intro:"../img/ticketairlinebooking/intro.jpg";
$url-end:"../img/ticketairlinebooking/footer.jpg";
@import "basic-web-page";
